body
{
    font-family: Calibri;
    padding: 0px;
    margin: 0px;
}

.header
{
    width: 990px;
    background-color: #eee;
}

h1,h2,h3,h4,h5,h6{ margin: 0px; }

.content{ width: 990px; background-color: #fff; padding: 10px;}

.button
{
    background: url('/images/creator/splashy.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px; 
    margin-top: 0;
    position: relative;
    vertical-align: text-top;
    width: 16px;
}

.edt
{
    background-position: -21px -357px;
    height: 16px;
    width: 13px;
}

.del
{
    background-position: -21px -1197px;
}

.ver
{
    background-position: -63px -1512px;
}

.sync
{
    background-position: -63px -546px;
}

.frm
{
    background: url('/images/creator/application_form.png');
}

/* TABELA LISTA */

.TabelaLista { border-collapse: collapse; width: auto; min-width: 980px;}
.TabelaLista th { font-size: 11px; font-weight: bold; padding: 5px; color: #555; background: #EEE; }
.TabelaLista td { font-size: 11px; padding: 5px; color: #666; border-bottom: 1px solid #EEEEEE; }
.TabelaLista tr.odd { background: #FAFAFA; }

.TabelaCabecalho { border-collapse: collapse; width:40%; border:1px solid #CCC;}
.TabelaCabecalho th { font-size: 11px; font-weight: bold; padding: 5px; color: #555; background: #EEE; }
.TabelaCabecalho td { background: #fff; font-size: 11px; padding: 5px; color: #666; border-bottom: 1px solid #EEEEEE; }
.TabelaCabecalho tr.odd { background: #FAFAFA; }

.TabelaLista th a:link,
.TabelaLista th a:active,
.TabelaLista th a:visited {	color: #555; text-decoration: none; }
.TabelaLista th a:hover { color: #777; }

.TabelaLista td a:link,
.TabelaLista td a:active,
.TabelaLista td a:visited { color: #808080;	text-decoration: underline; }
.TabelaLista td a:hover { color: #000; }

.TabelaLista td.actions { width: 1px; border-right: none; white-space: nowrap; }
.TabelaLista td { border-right: 1px solid #eee; }
.TabelaLista td.primary_key{ width: 1px; white-space: nowrap; border-right: 1px solid #eee; }

.adicionar { background-color: #ccc; color: #FFF; background: url('/images/creator/add.png') #ccc no-repeat 5px;
    border-radius: 15px; padding: 5px 10px 5px 25px ; text-decoration: none; display: inline-block; margin: 3px 0px; }

.adicionar:hover { background-color: #aaa; }